@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


textarea{
    height: 10vh;
   width: 90%;
    display: block;
    margin: 1rem;
    padding: 1rem;

}

.font-family{
    font-family: 'Montserrat', sans-serif;
}

#output{
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1rem;

}